.hamburgerMenuButton, .small {display: none;}

.big {
  display: flex;
  position: fixed;
  top: 0; left: 0;
  z-index: 1;
  background: var(--white);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  width: 100vw;
  padding: 1vh 0;
  min-height: 65px;
}

.logoSmall {
  width: 40px;
  height: 40px;
  background-image: url("Logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 2vw;
}

.contactBtn {
  position: fixed;
  top: 0; right: 0;
  z-index: 1;
  width: 65px;
  height: 65px;
  background-color: var(--black);
  border-radius: 0 0 0 14px;
  background-image: url("MaterialPhone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.big #links {
  margin: auto;
  text-align: right;
  width: 90%;
  margin-right: calc(65px + 2vw);
}

#links a {
  margin-right: 2vw;
}


/* 1####### ####### ####### ####### ####### ####### ####### ####### */

.wrap, .wrap2, header, .wrapHalf, .wrapHalf2 {display: flex;}
.mainImg {width: 50vw;}
.HeaderText {
  width: 50vw;
  margin: auto;
  padding: 0 10vw;
}

header .HeaderText {padding: 5%;}

.aboutHeader .mainImg {height: 37vh;}
.aboutHeader p {margin: 10% 20% 15%;}

.wrapHalf .mainImg, .wrapHalf2 .mainImg {
  height: 50vw;
}
